.main-body {	
	min-height: 270px;
}
.data {
	width: 450px;
	min-height: 200px;
	float: left;
	padding-top: 25px;
}
.data h1 {
	font-size: 38px;
    font-weight: 300;
    line-height: 45px;
    text-align: left;
    margin: 20px 0 0 20px;
}
.data h2 {
	color: #777779;
    font-size: 14px;
    line-height: 1.6;
    text-align: left;
    font-weight: 300;
    margin-left: 20px;
    margin-bottom: 20px;
}
.samplebox {
	width: 500px;
	padding-top: 20px;
	float: left;
}

.sampleribbon {
	float: left;
	position: relative;
	z-index: 999;
}
.sampleform {
	width: 430px;
	margin-left: 20px;
	text-align: left;
}
.sampleform #profession {
	float: left;
	margin-right: 10px;
	height: 40px;
	padding: 10px 5px;
}
.sampleform #inputFirstName {
	width: 90px;
	margin-left: 5px;
	float: left;
	clear: none;
}
.sampleform #inputLastName {
	float: left;
	clear: none;
	margin-left: 5px;
	width: 100px;
}
.sampleform #inputPrefix {
	width: 60px;
	clear: left;
	float: left;
	height: 40px;
	padding: 10px 5px;
}
.sampleform #inputSuffix {
	width: 70px;
	margin-left: 5px;
	clear: none;
	float: left;
}
.sampleform #inputAddress {
	margin-left: 5px;
}
.sampleform #inputCity {
	clear: left;
	float: left;
	width: 150px;
}
.sampleform #inputState {
	clear: none;
	float: left;
	width: 70px;
	height: 40px;
	margin-left: 5px;
	padding: 10px 5px;
}
.sampleform #inputZipcode {
	clear: none;
	float: left;
	width: 80px;
	margin-left: 5px;
}
.sampleform .contentsbox{
	width: 200px;
	float: left;
}
.sampleform button {
	margin: 10px 0 30px 0;
}
.sampleform p {
	font-size: 12px;
	color: #aaa;
	padding-bottom: 5px;
}
.sampleform textarea {
	display: none;
	width: 380px;
	height: 160px;
}
.sampleform input, .sampleform select {
	clear: both;
	height: 30px;
	width: 170px;
	margin: 8px 0;
}
.error-message {
	color: red;
	font-weight: 900;
	text-align: left;
	padding-left: 20px;
	display: none;
}

.sampleform select {
	color: #888;
}
#inputState, #inputZipCode {
	width: 98px;
}
.input-append .add-on:last-child {
	width: 30px;
	height: 30px;
	margin: 0 10px 10px 0px;
	border-radius: 4px;
	text-align: center;
}
.input-append.color .add-on i {
	width: 30px;
	height: 30px;
}
#inputOtherProfession {
	display: none;
}
.checkbox input {
	height: 20px;
	width: 20px;
	float: left;
}
.checkbox p {
	float: left;
	font-size: 14px;
	margin: 8px 0 0 3px;
}
.checkbox {
	width: 150px;
	color: #777;
}
#personalmessage {
	margin-top: 5px;
	width: 350px;
	display: none;
	float: left;
}

.sampleribbon {
	float: right;
	position: relative;
	z-index: 999;
	opacity: 1;
	margin-right: 10px;
	margin-top: 7px;
}
.preview_container_box {
	width: 470px;
	background: #eee;
	min-height: 300px;
	padding-bottom: 10px;
	margin: 10px auto 25px auto;
	border:1px solid #ddd;
	box-shadow: 0 0 2px #ccc;
}
.preview_unavailable {
	display: none;
	width: 430px;
	background: #333;
	height: 400px;
	margin: 10px auto 0 auto;
	border:1px solid #ddd;
	color: #eee;
	padding: 80px 20px
}
.preview_unavailable h3 {
	font-weight: 300;
}
.preview_unavailable h4 {
	font-size: 16px;
	font-weight: 300;
	padding: 50px 20px 0 20px;
	line-height: 25px;
}
.preview_header_box {
	height: 70px;
	width: 100%;
	position: relative;
	z-index: 0;
}
.preview_header_box .preview_logo {
	float: left;
	position: absolute;
	left: 15px;
	top: 15px;
}
.preview_header_box .preview_info {
	position: absolute;
	right: 15px;
	top: 38px;
}
.preview_header_box .preview_info ul {
	list-style-type: none;
}
.preview_header_box .preview_info ul li {
	display: inline;
	font-size: 10px;
	color: #5fa8c8;
	padding: 0 5px;
}
.preview_info p {
	margin: 0;
	text-align: right;
	color: white;
	line-height: 13px;
	font-size: 11px;
}

.preview_section {
	line-height: 0px;
}
.boxshadow {
	margin: 0px auto 0 auto;
	padding: 0;
	width: 400px;
	line-height: 0px;
}
.preview_section_inner {
	background: white;
	border-radius: 3px;
	padding: 0px;
	min-height: 50px;
	width: 430px;
	margin: 10px auto 0 auto;
	font-size: 11px;
	line-height: 20px;
}

.preview_profession {
	color: white;
	padding-left: 20px;
	padding-top: 20px;
	float: left;
	width: 300px;
}
.preview_left {
	float: left;
	width: 150px;
	margin: 0;
	padding: 0;
}
.preview_right {
	float: left;
	width: 260px;
	text-align: left;
	margin: 0;
	padding: 0 0 0 15px;
}

.preview_left_bottom {
	background: #333;
	position:relative;
	padding: 10px 0;
	bottom: 0;
	border-bottom-left-radius: 3px;
	color: #eee;
}
.preview_left_bottom h3 {
	padding: 5px 0;
	font-size: 12px;
	line-height: 15px;
}
.preview_left_bottom p {
	font-size: 10px;
	line-height: 13px;
}

.preview_right h1 {
	font-size: 12px;
	line-height: 40px;
}
.preview_right h2 {
	font-size: 10px;
	font-weight: 300;
	line-height: 15px;
}
.preview_right button {
	opacity: .7;
	margin: 5px 0 10px 0;
}
#preview_products h2 {
	line-height: 16px;
	font-size: 12px;
	text-align: left;
	padding: 10px 0 0 15px;
}
.preview_item {
	width:105px;
	float: left;
}
#preview_products .preview_item h2 {
	font-size:10px;
	padding: 0 5px;
	line-height: 14px;
	color: #777;
	text-align: center;
}
#preview_giveaway .preview_right h1 {
	line-height: 16px;
	padding: 10px 0 0 0px;
}
.preview_item h3{
	font-size: 9px;
	line-height: 9px;
	color: #aaa;
	padding: 5px 0;
}
#preview_sociallinks {
	height: 35px;
	width: 420px;
	border:1px dotted #bbb;
	background: #d9d9d9;
	margin: 10px auto;
	padding: 5px 5px;
}
#preview_sociallinks img{
	float: right;
	opacity:.8;
}
#preview_sociallinks button{
	float: left;
	margin: 6px 0 0 6px;
	opacity:.4;
}
.colored {
	color: #258bb9;
	font-weight: 900;
}
.resetcolors:hover {
	text-decoration: underline;
	cursor: pointer
}
.sent-message {
	background: red;
	width: 100%;
	border-radius: 4px;
	display: none;
	background: white;
	padding-top: 30px
}
.sent-message h1 {
	color: #555;
	font-size: 18px;
	padding-top: 15px;
	font-weight: 300;
}
.sent-message a {
	margin: 20px 0 0px 0;
	font-weight: 800;
	font-size: 14px;
}
.messagewings {
	width: 850px;
	height: 50px;
	margin: -30px auto 0 auto;
}
.messagewings .wings1 {
	float: left;
	width: 150px;
}
.messagewings .wings2 {
	float: right;
	width: 150px;
}