{% extends 'base.html' %}
{% block headercss %}
	<link href="{{STATIC_URL}}css/about.css" rel="stylesheet" type="text/css" />
{% endblock%}

{% block headerjs %}
<script>
	
	$(document).ready(function() {
			fall();		
	});
	var fall = function fall() {
		$('.fall-object').animate({
			top: '+=20px'}, 100, function() {
			topvalue = $(this).css('top').slice(0,-2);
			if (topvalue > 150) {
				$(this).css('top','-200px');
			};
			fall();
		});
	}
	
</script>
{% endblock%}
 

{% block content %}

<div class="main-container">
	<div class="main-body">
		<div class="title">
			<h1>About Our Company</h1>
			<img class="shadow" src="{{STATIC_URL}}img/shadow-small.png" />
			<img class="img-capture" src="{{STATIC_URL}}img/bostonskyline.png" />
			<div class="mission">
				<h2> We are building the next wave of communications for small businesses. Clients are tired of getting
				spam e-mails. We are redefining the content that people want in their inboxes, social media, and on their phones.
				The core of our team is from the Massachusetts Institute of Technology and Cornell University. We work extrmely
				hard to build a remarkable product.</h2>
				<h2> Alex Kates, CEO ProMail</h2>
			</div>
			<div class="values">
				<div class="about-box">
					<img class="about-box-img" src="{{STATIC_URL}}img/about-heart.png" />
					<h3>Customer Service</h3>
					<h4>Once you sign up for a ProMail account, you can start automating scheduled newsletters to
					your client's email list. Based on your industry, we curate the most relevant and engaging
					content to populate your newsletter. Optionally, you can add custom content to your newsletters
					before they go out, but otherwise, we take care of everything. </h4>
				</div>
				<div class="about-box">
					<img class="about-box-img" src="{{STATIC_URL}}img/about-lock.png" />
					<h3>Advanced Security</h3>
					<h4>Once you sign up for a ProMail account, you can start automating scheduled newsletters to
					your client's email list. Based on your industry, we curate the most relevant and engaging
					content to populate your newsletter. Optionally, you can add custom content to your newsletters
					before they go out, but otherwise, we take care of everything. </h4>
				</div>
				<div class="about-box">
					<img class="about-box-img" src="{{STATIC_URL}}img/about-star.png" />
					<h3>Superior Quality</h3>
					<h4>Once you sign up for a ProMail account, you can start automating scheduled newsletters to
					your client's email list. Based on your industry, we curate the most relevant and engaging
					content to populate your newsletter. Optionally, you can add custom content to your newsletters
					before they go out, but otherwise, we take care of everything. </h4>
				</div>
				<div class="clear"></div>
			</div>
			
		</div>

		<div class="clear"></div>
	</div>
	
</div>
{% endblock %}
