{% extends 'base.html' %}
{% block headerjs %}
	<script src="{{STATIC_URL}}js/sample.js" type="text/javascript"></script>
	<script src="{{STATIC_URL}}js/bootstrap-colorpicker.js" type="text/javascript"></script>
{% endblock%}

{% block headercss %}
	<link href="{{STATIC_URL}}css/colorpicker.css" rel="stylesheet" type="text/css" />	
	<link href="{{STATIC_URL}}css/sample.css" rel="stylesheet" type="text/css" />

{% endblock%}

{% block content %}

<div class="main-container">
	
	<div class="main-body">	
		<div class="sent-message">
			<h1>Your sample has been received, and we are crafting your email now</h1>
			<h1>Check your inbox momentarily for an email from Curate.io</h1>
			<div class="messagewings">
				<img class="wings1" src="{{STATIC_URL}}img/mailwings2.png" />
				<img class="wings2" src="{{STATIC_URL}}img/mailwings.png" />
				<div class="clear"></div>
			</div>
			<a class="btn btn-large btn-inverse" href="/pricing">Like it? Get started &rarr;</a>
		</div>
		<div class="sample-container">	
			<div class="title">
				<h1> Send yourself a sample </h1>
				<h2> Fill in the information below, and preview what your newsletter's could
				look like. Sample newsletter will update automatically.</h2>
				<img  class="shadow" src="{{STATIC_URL}}img/shadow-small.png" />
			</div>	
			<div class="data">
				<div class="error-message">
					<p> Please enter a valid e-mail address </p>
				</div>
				<form class="sampleform form-horizontal" method="POST" action="newslettersample">{% csrf_token %}
					<select id="profession" name="inputIndustry">
						<option class="selectoptions"> Profession. . . </option>
						<option id="dentistry"> Dentistry </option>
						<option id="other"> Other </option>
					</select>
					<input type="text" name="inputIndustryOther" id="inputOtherProfession" placeholder="Enter Your Industry. . .">
					<select id="inputPrefix" name="inputPrefix">
						<option>Dr.</option>
						<option>Mr.</option>
						<option>Mrs.</option>
						<option>Ms.</option>
						<option>Prof.</option>
					</select>
					<input type="text" id="inputFirstName" name="inputFirstName" placeholder="First Name" >
					<input type="text" id="inputLastName" name="inputLastName" placeholder="Last Name" >
					<input type="text" id="inputSuffix" name="inputSuffix" placeholder="Suffix" >
					<div class="clear"></div>
					<input type="text" id="inputEmail" name="inputEmail" placeholder="Email">
					<input type="text" id="inputAddress" name="inputAddress" placeholder="Street Address">
					<div class="clear"></div>
					<input type="text" id="inputCity" name="inputCity" placeholder="City">
					<select id="inputState" name="inputState" placeholder="State">
						<option>AL</option>
						<option>AK</option>
						<option>AZ</option>
						<option>AR</option>
						<option>CA</option>
						<option>CO</option>
						<option>CT</option>
						<option>DC</option>
						<option>DE</option>
						<option>FL</option>
						<option>GA</option>
						<option>HI</option>
						<option>ID</option>
						<option>IL</option>
						<option>IN</option>
						<option>IA</option>
						<option>KS</option>
						<option>KY</option>
						<option>LA</option>
						<option>ME</option>
						<option>MD</option>
						<option>MA</option>
						<option>MI</option>
						<option>MN</option>
						<option>MS</option>
						<option>MO</option>
						<option>MT</option>
						<option>NE</option>
						<option>NV</option>
						<option>NH</option>
						<option>NJ</option>
						<option>NM</option>
						<option>NY</option>
						<option>NC</option>
						<option>ND</option>
						<option>OH</option>
						<option>OK</option>
						<option>OR</option>
						<option>PA</option>
						<option>RI</option>
						<option>SC</option>
						<option>SD</option>
						<option>TN</option>
						<option>TX</option>
						<option>UT</option>
						<option>VT</option>
						<option>VA</option>
						<option>WA</option>
						<option>WV</option>
						<option>WI</option>
						<option>WY</option>
					</select>
					<input type="text" id="inputZipcode" name="inputZipcode" maxlength="5" placeholder="Zip Code">
					<div class="clear"></div>	
					<!-- 
<p> Select Colors: (<span class="resetcolors">reset colors</span>)</p>
						<div class="input-append color" id="color1" data-color="rgb(35, 113, 146)" data-color-format="rgb">
							<span class="add-on"><i style="background-color: rgb(35, 113, 146)"></i></span>
						</div>
						<div class="input-append color" id="color2" data-color="rgb(210, 210, 210)" data-color-format="rgb">
							<span class="add-on"><i style="background-color: rgb(210, 210, 210)"></i></span>
						</div>
						<div class="input-append color" id="color3" data-color="rgb(37, 37, 37)" data-color-format="rgb">
							<span class="add-on"><i style="background-color: rgb(37, 37, 37)"></i></span>
						</div>
						<div class="input-append color" id="color4" data-color="rgb(50, 122, 153)" data-color-format="rgb">
							<span class="add-on"><i style="background-color: rgb(50, 122, 153)"></i></span>
						</div>
						<div class="input-append color" id="color5" data-color="rgb(50, 122, 153)" data-color-format="rgb">
							<span class="add-on"><i style="background-color: rgb(50, 122, 153)"></i></span>
						</div>
					<div class="clear"></div>
 -->
					<div class="contentsbox">
						<label class="checkbox">
							<input type="checkbox" id="questionscheckbox" name="inputTrendingQuestions" checked="yes">
							<p>Trending Questions</p>
						</label>
						<label class="checkbox">
							<input type="checkbox" id="productcheckbox" name="inputProducts" checked="yes">
							<p>Popular Products</p>
						</label>
						<label class="checkbox">
							<input type="checkbox" id="personalcheckbox" name="inputCustomMessage"> 
							<p>Custom Message</p>
						</label>
					</div>
					<div class="contentsbox">
						<label class="checkbox">
							<input type="checkbox" id="sociallinkscheckbox" name="inputSocialLinks" checked="yes">
							<p>Social Links</p>
						</label>
						<label class="checkbox">
							<input type="checkbox" id="giveawaycheckbox" name="inputMonthlyGiveaway" checked="yes">
							<p>Monthly Give-A-Way</p>
						</label>
					</div>
					<textarea rows="3" id="personalmessage" name="inputPersonalMessage" placeholder="Enter your custom message here. . .">If you haven’t already given our office a call to schedule your oral checkup this season, don’t hesistate to do so. We’d love to see you! Also, if you or anyone in your family may suffer from sleep apnea, be sure to let us know. We’ve developed an incredible new, nighttime dental device that’s helps relieve symptoms and suffering for those affected by this ailment. </textarea>
					<div class="clear"></div>
					<!-- 
<input type="hidden" name="inputColor1" id="inputcolor1" value="#ffffff">
					<input type="hidden" name="inputColor2" id="inputcolor2" value="#ffffff">
					<input type="hidden" name="inputColor3" id="inputcolor3" value="#ffffff">
					<input type="hidden" name="inputColor4" id="inputcolor4" value="#ffffff">
 -->
					<button id="sendmessage" class="submit btn btn-large btn-warning"> Send me this sample! </button>
				</form>
			</div>
			<div class="samplebox">
				<img class="sampleribbon" src="{{STATIC_URL}}img/sampleribbon.png"/>
				<div class="preview_unavailable">
					<h3> We're sorry, but we do not currently offer support to your industry</h3>
					<h4> Fill out the form, and we will let you know when we launch with your profession!</h4>
				</div>
				<div class="preview_container_box">
					<div class="preview_header_box">
						<div class="preview_logo">
							<img src="https://s3.amazonaws.com/CurateBucket/dentistlogo.png" alt="Dentist Digest" />
						</div>
						<p class="preview_profession"></p>
						<div class="preview_info">
							<ul>
								<li>Refer A Friend</li>
								<li>Contact Our Office</li>							
							</ul>
						</div>
					</div>
					<div class="preview_section" id="preview_custom">
						<div class="preview_section_inner">
							<div class="preview_left">
								<img src="{{STATIC_URL}}img/doctorportrait.png"/>
								<div class="preview_left_bottom">
									<h3 id="preview_name">Dr. David Stern, DMD</h3>
									<p class="preview_address">34 Pavers Way</p>
									<p class="preview_address2">Bridgetown, RI 02392</p>
								</div>
							</div>
							<div class="preview_right">
								<h1>Be sure to book your spring <span class="colored">oral care</span> checkup</h1>
								<h2 class="preview_personal">If you haven’t already given our office a call to schedule your oral checkup this season, don’t hesistate to do so. We’d love to see you! Also, if you or anyone in your family may suffer from sleep apnea, be sure to let us know. We’ve developed an incredible new, nighttime dental device that’s helps relieve symptoms and suffering for those affected by this ailment. </h2>
								<button class="btn btn-mini btn-info">Contact Us</button>
							</div>
							<div class="clear"></div>
						</div>
						<img class="boxshadow" src="https://s3.amazonaws.com/CurateBucket/boxshadow.png"/>
					</div>
					<div class="preview_section" id="preview_questions">
						<div class="preview_section_inner">
							<div class="preview_left">
								<img src="{{STATIC_URL}}img/productimage1.png"/>
							</div>
							<div class="preview_right">
								<h1>Are you using the <span class="colored">right toothpaste</span>?</h1>
								<h2>Everyone has their favorite toothpaste, whether you like the way it tastes, or appreciate the minty-clean feeling it leaves behind. But is one better suited to your mouth?</h2>
								<button class="btn btn-mini">Read More</button>
							</div>
							<div class="clear"></div>
						</div>
						<img class="boxshadow" src="https://s3.amazonaws.com/CurateBucket/boxshadow.png"/>
					</div>
				<!-- 
	<div class="preview_section" id="preview_questions">
						<div class="preview_section_inner">
							<div class="preview_left">
								<img src="{{STATIC_URL}}img/productimage2.png"/>
							</div>
							<div class="preview_right">
								<h1>The latest dental trends to fight <span>caries disease</span></h1>
								<h2>Dental caries, also known as tooth decay or cavities, results from the demineralization of hard titues like tooth enamel. Explore the latest trends in caries prevention. </h2>
								<button class="btn btn-mini">Read More</button>
							</div>
							<div class="clear"></div>
						</div>
						<img class="boxshadow" src="https://s3.amazonaws.com/CurateBucket/boxshadow.png"/>
					</div>
					
 -->
					
					<div class="preview_section" id="preview_products">
						<div class="preview_section_inner">
							<h2>Dentist exclusive <span class="colored"> discounts</span> on top products</h2>
							<div class="preview_item">
								<img src="https://s3.amazonaws.com/CurateBucket/productlisterine.jpg"/>
								<h2>on Listerine 24oz mint mouthwash</h2>
								<h3>at Listerine.com</h3>
							</div>
							<div class="preview_item">
								<img src="https://s3.amazonaws.com/CurateBucket/productsonicare.png"/>
								<h2>all Sonicare e-Series toothbrushes</h2>
								<h3>at Sonicare.com</h3>
							</div>
							<div class="preview_item">
								<img src="https://s3.amazonaws.com/CurateBucket/productsleepright.jpg"/>
								<h2>on Sleep Right dental guard</h2>
								<h3>at Walgreens</h3>
							</div>
							<div class="preview_item">
								<img src="https://s3.amazonaws.com/CurateBucket/productoralb.jpg"/>
								<h2>on Oral B Glide dental floss products</h2>
								<h3>at Target</h3>
							</div>
							<div class="clear"></div>
						</div>
						<img class="boxshadow" src="https://s3.amazonaws.com/CurateBucket/boxshadow.png"/>
					</div>
					<div class="preview_section" id="preview_giveaway">
						<div class="preview_section_inner">
							<div class="preview_right">
								<h1>Take our two minute oral hygiene survey for a chance to win a new <span class="colored">iPad with Retina Display</span></h1>
								<button class="btn btn-info btn-mini">Take the Survey</button>
							</div>
							<div class="preview_left">
								<img src="https://s3.amazonaws.com/CurateBucket/ipadretina.png"/>
							</div>
							<div class="clear"></div>
						</div>
						<img class="boxshadow" src="https://s3.amazonaws.com/CurateBucket/boxshadow.png"/>
					</div>
					<div class="preview_section" id="preview_sociallinks">
						 <button class="btn btn-mini btn-inverse">Manage Subscription</button>
						 <img src="{{STATIC_URL}}img/socialicons.png"/>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>	
</div>
{% endblock %}
