{% extends 'base.html' %}

{% block headercss %}
	<link href="{{STATIC_URL}}css/signup.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block headerjs %}

<script>
$(document).ready(function() {	
	$("#contactform").submit(function() {
		email = emailgood($("#inputEmail").val());
		if (email) {
			$("#sendmessage").attr("disabled","disabled");
			$("#sendmessage").val("Sending. . . ");
			$.ajax({ // create an AJAX call...
				type: 'POST',
				data: $(this).serialize(), // get the form data
				url: $(this).attr('action'), // the file to call
				success: function(response) { // on success..
					$(".loader").css("display","none");
					if (response === "failed") {
						$(".formresults").html("&#10005; Submission Failed. Resend Message");
						$(".formresults").css("color","red");
					} else if (response === "success" || response ==="testsuccess") {
						$(".formresults").html("&#x2713; Submission Received");
						$(".formresults").css("color","green");
						$("#contactform").find("input[type=text], textarea").val("");
						$("#contactform input").removeClass("success");
						$("#contactform textarea").removeClass("success");
						console.log("successed");
					} 
					$("#sendmessage").removeAttr("disabled");
					$("#sendmessage").val("Join Beta List");
					$("#contactform").css("display","none");
					$(".form-success").fadeIn();
				}
			});
			return false;
		} else {
			$(".error-message").fadeIn();
			return false;
		}
	});
});

var emailgood = function checkemail(str){
	var testresults;
	var filter= /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i
	if (filter.test(str)) {
		testresults=true;
	} else {
		testresults=false;
	}
	return (testresults)
}

</script>
{% endblock%}
 

{% block content %}
<div class="main-container">
	<div class="main-body">
		<div class="title">
			<h1>Thanks for your interest!</h1>
			<h2>Unfortunately, we are still completing our beta testing. Enter your information
			 below to and we will contact you with beta login information. </h2>
			<img src="{{STATIC_URL}}img/shadow-small.png" />
		</div>	
		<div class="form">
			<div class="form-success">
				<h1>&#x2713;</h1>
				<h2>Your information has been received. We will be in contact with you shortly.</h2>
			
			</div>
			<form class="form-horizontal" id="contactform" method="POST" action="contact">{% csrf_token %}
				<div class="control-group">
					<label class="control-label" for="inputName">Name</label>
					<div class="controls">
						<input type="text" id="inputName" name="inputName" placeholder="Name">
					</div>
				</div>
				<div class="error-message"> Invalid Email </div>
				<div class="control-group">
					<label class="control-label" for="inputEmail">Email</label>
					<div class="controls">
						<input type="text" id="inputEmail" name="inputEmail" placeholder="Email">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputPhone">Phone</label>
					<div class="controls">
						<input type="text" id="inputPhone" name="inputPhone" placeholder="Phone">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputIndustry">Industry</label>
					<div class="controls">
						<input type="text" id="inputIndustry" name="inputIndustry" placeholder="Industry">
					</div>
				</div>
				<input type="submit" id="sendmessage" class="btn btn-info" value="Join Beta List">
			</form>
		</div>
		<img class="pros" src="{{STATIC_URL}}img/professionals.png"/>
		<div class="clear"></div>
	</div>
</div>

{% endblock %}
